
@import "reset";
@import
 '../bower_components/bourbon/app/assets/stylesheets/bourbon';
$gutter:0em;
@import '../bower_components/neat/app/assets/stylesheets/neat';
@import "variables";
@import "typography";

*{
  box-sizing:border-box;
}

body {
  @include outer-container(500px);
}

//60x50 buttons//
.container{
  border: 2px solid RGBA(0, 51, 51, 1);
  border-radius: 10px;
  background-color: RGBA(102, 153, 153, .3);
}

.buttons {
  height:330px;
}

.buttons button {
  height: 48px;
  border: 1px solid grey;
}

.display {
  @include span-columns(12);
  background-color:RGBA(76, 76, 76, .5);
  height: 80px;
  text-align:right;
  color:white;
  font-weight: 100;
  line-height: 80px;
  margin:none;
  }

.clrminuspercent {
  @include span-columns(3);
  background-color: $background-color-clrminuspercent;
  }

.number {
  @include span-columns(3);

  background-color:$primary-numberkeys-color;
}

.zero {

  @include span-columns(6);
 background-color:$primary-numberkeys-color;
}


.operator{
  @include span-columns(3);
/*   @include omega();
 */  background-color:$primary-operator-color;
  color:$operator-font-color;
}
